.jumbotron {
    background: url(../images/bg.jpeg);
    background-size: cover;
    min-height: 600px;
}

.navbar-brand {
    background: url(../images/brand.png) no-repeat;
    width: 180px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.welcome {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(256, 256, 256, 0.8);
    font-family: fantasy, Arial, Helvetica, sans-serif;
    padding: 40px;
    text-align: center;
}

@media (max-width: 750px) {
    .navbar-default .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 20px;
        color: #fff;
        text-align: center;
        font-weight: 700;
    }
}